<ion-header [translucent]="true">
  <ion-toolbar>
   
    <ion-buttons slot="start" class="ion-text-left">
      <ion-back-button default-href="#" color="success" icon="../../../assets/icon/arrow-left.svg"></ion-back-button>
    </ion-buttons>
    <ion-title color="success"  class="ion-text-center">Dinh Bao</ion-title>
    <ion-buttons slot="end">
   
      <ion-icon src="../../../assets/icon/arrow-left.svg" style="opacity: 0;"/>
   
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
        <ion-list lines="none">
          <ion-item lines="none" class="sender animate__animated animate__fadeInUp">
            <ion-icon slot="start" src="../../../assets/icon/Check.svg" class="check"/>
            <ion-row class="senderrow">
              <ion-col size="12">
                <div class="time ion-text-left">
                  <p>8:10 pm</p>
                </div> 
                <div class="message">
                  <p>Are you coming?</p>
                </div>
              </ion-col>
            </ion-row>
            <ion-avatar slot="end" class="senderimg">
              <ion-img src="../../../assets/icon/Profile2.svg" />
            </ion-avatar>
          </ion-item>
        </ion-list>


        <ion-list lines="none">
          <ion-item lines="none" class="receiver animate__animated animate__fadeInUp" id="itemid">
            <ion-avatar slot="start" class="courierimg">
              <ion-img src="../../../assets/icon/Courier.svg" />
            </ion-avatar>
            <ion-row class="senderrow">
              <ion-col size="12">
                <div class="time ion-text-right">
                  <p>8:10 pm</p>
                </div> 
                <div class="couriermessage">
                  <p>Hay, Congratulation for order</p>
                </div>
              </ion-col>
            </ion-row>
           
          </ion-item>
        </ion-list>


        <ion-list lines="none">
          <ion-item lines="none" class="sender animate__animated animate__fadeInUp" id="itemid">
            <ion-icon slot="start" src="../../../assets/icon/Check.svg" class="check"/>
            <ion-row class="senderrow">
              <ion-col size="12">
                <div class="time ion-text-left">
                  <p>8:11 pm</p>
                </div> 
                <div class="message">
                  <p>Hey Where are you now?</p>
                </div>
              </ion-col>
            </ion-row>
            <ion-avatar slot="end" class="senderimg">
              <ion-img src="../../../assets/icon/Profile2.svg" />
            </ion-avatar>
          </ion-item>
        </ion-list>

        <ion-list lines="none">
          <ion-item lines="none" class="receiver animate__animated animate__fadeInUp" id="itemid">
            <ion-avatar slot="start" class="courierimg">
              <ion-img src="../../../assets/icon/Courier.svg" />
            </ion-avatar>
            <ion-row class="senderrow">
              <ion-col size="12">
                <div class="time ion-text-right">
                  <p>8:12 pm</p>
                </div> 
                <div class="couriermessage">
                  <p>I’m Coming , just wait ...</p>
                </div>
              </ion-col>
            </ion-row>
           
          </ion-item>
        </ion-list>

        <ion-list lines="none">
          <ion-item lines="none" class="sender animate__animated animate__fadeInUp" id="itemid">
            <ion-icon slot="start" src="../../../assets/icon/unseen.svg" class="check"/>
            <ion-row class="senderrow">
              <ion-col size="12">
                <div class="time ion-text-left">
                  <p>8:12 pm</p>
                </div> 
                <div class="message">
                  <p>Hurry Up, Man</p>
                </div>
              </ion-col>
            </ion-row>
            <ion-avatar slot="end" class="senderimg">
              <ion-img src="../../../assets/icon/Profile2.svg" />
            </ion-avatar>
          </ion-item>
        </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-list lines="none" class="ion-padding animate__animated animate__fadeInUpBig">
      <ion-item class="inputfield">
        <ion-input placeholder="Write somethings">
          <ion-icon slot="start" src="../../../assets/icon/smile.svg" style="font-size: 20px !important;margin-right: 20px;"></ion-icon>
          
            <ion-icon slot="end" src="../../../assets/icon/Send.svg" class="sendicon"></ion-icon>
          
        </ion-input>
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-footer>
