.fogotheading{
    text-align: center;
}
// .signupmainclass ion-label{
//     font-size: 30px;
//     font-weight: bold;
//     color: #16294C;
// }
.inputfield{
    margin-top: 30px;
}
.inputfield ion-label {
  font-size: 1em;
  color: #9897A1;
  font-family: sf_pro_display_regular;
}

.email {
  --color: var(--ion-color-primary);
    font-size: 25px;
    font-family: sf_pro_display_regular;
    --border: 1px solid #EEEEEE;
    --border-radius: 10px;
    height: 60px;
    --border-color: var(--ion-color-gray);
    --placeholder-color: #C4C4C4;
    text-align: center;
}
// .email:focus {
//     border-radius: 10px;
//     border: 1px solid #FC7A1E;
//     color: #16294C;
// }

::placeholder{
    color: #9796A1;
}
.signupbutton{
    margin-top: 20px;
    text-align: center;
}
.signupbutton ion-button{
    width: 70%;
    height: 60px;
}

.afterbtntext{
    margin-top: 30px;
    text-align: center;
}

.signin {
    display: flex;
    flex-direction: row;
    color:#5B5B5E;
  }
  .signin:before, .signin:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #D8D8D8;
    margin: auto;
  }
  .signin:before {
    margin-right: 10px
  }
  .signin:after {
    margin-left: 10px
  }

  .socialiconbtn{
    height: 50px;
  }
  // .email{
  //   margin-top: 8px;
  //   color: #FC7A1E;
  //   text-align: center;
  //   font-size: 30px;
  // }

  .forgotpassword{
    text-align: center;
    margin-top: 20px;
  }
  .change_email p{
    font-family: sf_pro_display_regular;
    font-size: 12px;
    margin-bottom: 10px;
    color: var(--ion-color-primary);
    margin-top: -15px;
  }
  .resetheading{
    font-size: 32px;
    font-weight: bold;
    font-family: sf_pro_display_semibold;
  }
  .resetdesc{
    line-height: 20px;
    font-size: 12px;
    margin-top: 10px !important;
    color: var(--ion-color-tertiary);
  }
  .afteropt{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    font-family: sf_pro_display_medium;
  }
  .animation{
    background-image: url(../../../assets/images/elipise.svg);
    width: 206px !important;
    height: 174px;
    background-size: cover;
    margin-left: -54px;
    margin-top: -79px !important;
    padding: 43px;
  }
  .animation1{
    background-image: url(../../../assets/images/Ellipseright.svg);
      width: 181px !important;
      background-size: cover;
      margin-top: -165px;
      margin-left: 93%;
      height: 181px;
      background-position-x: right;
  }

  // ion-input:focus{
  //   border:1px solid var(--ion-color-primary)
  // }

  // ion-input {
  //   border-color: #FC7A1E !important; /* Use the desired border color */
  // }

  $input-border-color: #FC7A1E;
