<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title color="success">Review</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" color="success" icon="../../../assets/icon/arrow-left.svg"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
   
      <ion-icon src="../../../assets/icon/arrow-left.svg" style="opacity: 0;"/>
   
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <!-- <ion-grid>
  <ion-row>
    <ion-col size="12" size-sm="6" size-md="4" size-lg="3" size-xl="3">
      <ion-list lines="none" class="animate__animated animate__slideInLeft">
        <ion-item>
          <ion-avatar slot="start" class="profile_img">
            <ion-img src="../../../assets/icon/circle.png" />
          </ion-avatar>
          <div class="reviews">
            <ion-label class="date">20/12/2020</ion-label>
            <ion-label class="comment_heading">Great Food and Service</ion-label>
            <ion-label class="stars">
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-icon name="star" color="primary"></ion-icon>
            </ion-label>
            <ion-label class="comment_desc">This Food so tasty & delicious. Breakfast so fast Delivered in my place. Chef is very friendly. I’m really like chef for Home Food Order. Thanks.</ion-label>
          </div>
        </ion-item>
       </ion-list>
    </ion-col>
  </ion-row>
 </ion-grid> -->

 <ion-list lines="none" class="animate__animated animate__slideInLeft">
  <ion-item>
    <ion-avatar slot="start" class="profile_img">
      <ion-img src="../../../assets/icon/circle.png" />
    </ion-avatar>
    <div class="reviews">
      <ion-label class="date">20/12/2020</ion-label>
      <ion-label class="comment_heading">Great Food and Service</ion-label>
      <ion-label class="stars">
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star" color="primary"></ion-icon>
      </ion-label>
      <ion-label class="comment_desc">This Food so tasty & delicious. Breakfast so fast Delivered in my place. Chef is very friendly. I’m really like chef for Home Food Order. Thanks.</ion-label>
    </div>
  </ion-item>
 </ion-list>
</ion-content>
