<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <ion-title color="success">Term of Use</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" color="success" icon="assets/icon/arrow-left.svg"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
   
      <ion-icon src="assets/icon/arrow-left.svg" style="opacity: 0;"/>
   
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="logo animate__animated animate__zoomIn">
        <ion-img src="assets/images/logo.svg" class="ion-text-center" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item lines="none" class="animate__animated animate__slideInLeft">
    <ion-label color="success" class="heading">Welcome to Term of Use.!</ion-label>
  </ion-item>

  <ion-list lines="none" class="animate__animated animate__slideInLeft" style="margin-top: -10px;">
    <ion-item lines="none" style="margin-top: -10px;">
      <ion-label color="success" class="regular_content">Our focus is primarily on the growth of entrepreneurs whom we
        equip with specially customized designed delivery solutions tools in preparing them for their entrepreneurial
        journey to give their local neighbourhood and its surroundings a more direct customer relationship building
        experience. This concept is directed towards building a vision and mission to establish <b><i>“ONE HOME, ONE
          ENTREPRENEUR”</i></b> Concept.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
        anim id est laborum.
        <br><br>
        Our focus is primarily on the growth of entrepreneurs whom we equip with specially customized designed delivery
        solutions tools in preparing them for their entrepreneurial journey to give their local neighborhood and its
        surroundings a more direct customer relationship building experience. This concept is directed towards building
        a vision and mission to establish <b><i>“ONE HOME, ONE ENTREPRENEUR” </i></b>Concept.
        <br><br>
        We Equip, Provide Online Training and as well as providing our future JomSmart Biz and MP RiderZ an opportunity to gain wider market coverage and enabling their customers to build a rapport and relationship to have a continuous growth in their business. Our vision is aimed to indirectly impact the growth by having more economical and commercial values between a buyer and seller in the same community hence creating a more prosperous and positive community.
        <br><br>
        We create Entrepreneurs from any industry including your local handyman to transform their conventional selling method to a more personalized one aiming towards a happier community by bringing them directly at your doorstep.
        <br><br>
        In any case, our ultimate value proposition is directed towards the end results of our users on JomSmart with a more complete positive and happy buying experience. We will continue to strive and bring a JomSmart In Every Home of Malaysia.
        <br><br>
        So Join Us In Creating A JomSmart Community In Your Local Neighborhoods <b><i>“Together We Create A More People Values Marketplace and Not Just Technology” …</i></b>

        <br><br>
        <b><i>“When You Are Buying & Selling On JomSmart, You Are Buying & Selling In Your Community And It Matters Because A Prosperous Community IS A Happy Community”  ~ Sham, Founder, JomSmart</i></b>
      </ion-label>
    </ion-item>


  </ion-list>

</ion-content>