<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <ion-title color="success">News Room</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" color="success" icon="assets/icon/arrow-left.svg"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">

      <ion-icon src="assets/icon/arrow-left.svg" style="opacity: 0;" />

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="logo animate__animated animate__zoomIn">
        <ion-img src="assets/images/logo.svg" class="ion-text-center" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item lines="none" class="animate__animated animate__slideInLeft">
    <ion-label color="success" class="heading">Welcome to Newsroom.!</ion-label>
  </ion-item>

  <ion-list lines="none" class="animate__animated animate__slideInLeft" style="margin-top: -10px;">
    <ion-item lines="none">
      <ion-label color="success" class="regular_content">Our focus is primarily on the growth of entrepreneurs whom we
        equip with specially customized designed delivery solutions tools in preparing them for their entrepreneurial
        journey to give their local neighbourhood and its surroundings a more direct customer relationship building
        experience. This concept is directed towards building a vision and mission to establish “ONE HOME, ONE
        ENTREPRENEUR” Concept.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
        anim id est laborum.</ion-label>
    </ion-item>


  </ion-list>

</ion-content>