
<!-- <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button default-href="#"></ion-back-button>
  </ion-buttons>
</ion-toolbar> -->


<ion-content mode="md">
<ion-grid>
  <ion-row>
    <ion-col size="1" class="animation">
       
    </ion-col>
    <ion-col size="10"></ion-col>
    <ion-col size="1" class="animation1 ion-text-right"></ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="2" style="text-align: center;
    margin-top: -40px;
    font-size: 25px" (click)="gotoback()">
      <ion-icon src="../../../assets/icon/arrow-left.svg" />
    </ion-col>
    <ion-col size="8">
     
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
  <ion-row style="margin-top: 40px;">
   
    <ion-col size="12" class="ion-text-center signupmainclass">
      <div class="fogotheading">
        <ion-label style="display: block;" color="success" class="resetheading animate__animated animate__fadeInUpBig">Reset Password</ion-label>
        <p color="tertiary" class="resetdesc animate__animated animate__fadeInUpBig">Please enter your email address to <br> request a password reset</p>
      </div>
    </ion-col>
    
  </ion-row>
  <ion-row style="margin-top: -20px;">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <div class="inputfield animate__animated animate__fadeInUpBig" id="emailfield">
      <ion-input type="email" placeholder="Your email or phone" class="email" fill="outline"/>
    </div>


      <div class="signupbutton animate__animated animate__fadeInUpBig">
      <ion-button color="primary" size="small" (click)="gotoverification()">Send new password</ion-button>
    </div>

    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
</ion-grid>

</ion-content>
