<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <ion-title color="success">Refund Policy</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" color="success" icon="../../../assets/icon/arrow-left.svg"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
   
      <ion-icon src="../../../assets/icon/arrow-left.svg" style="opacity: 0;"/>
   
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="logo animate__animated animate__zoomIn">
        <ion-img src="../../../assets/images/logo.svg" class="ion-text-center"/>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list lines="none" class="animate__animated animate__slideInLeft">
    <ion-item lines="none">
      <ion-label color="success" class="regular_content">At Dilana Tandoor Putrajaya, we strive to provide the best dining experience and customer satisfaction. We understand that situations may arise where a refund is necessary. Please take a moment to familiarize yourself with our refund policy, which outlines the conditions under which refunds can be requested and the process for obtaining a refund.</ion-label>
    </ion-item>

    <ion-item lines="none" class="animate__animated animate__slideInLeft">
      <ion-label color="success" class="heading">Eligibility for Refunds:</ion-label>
    </ion-item>

    <ion-item class="animate__animated animate__slideInLeft">
      <ion-label color="success" class="regular_content">
        <ul>
          <li> Refunds are only available for orders with a status of "Placed." Once the order status changes to "Processing," "In-transit," or "Delivered," refund requests will not be accepted.</li>
          <li>Refunds are applicable only to the original payment method used for the order placed through our website.</li>
        </ul>
      </ion-label>
    </ion-item>

    <ion-item lines="none" class="animate__animated animate__slideInLeft" style="margin-top: -20px;">
      <ion-label color="success" class="heading">Refund Process:</ion-label>
    </ion-item>

    <ion-item class="animate__animated animate__slideInLeft">
      <ion-label color="success" class="regular_content">
        <ul>
          <li>To request a refund, please contact our customer support team within 24 hours of placing your order, while the status is still "Placed." Refund requests made after this time frame or for orders with a different status will not be entertained.
          </li>
          <li>Our customer support team will review your refund request and may require additional information or clarification.
          </li>
          <li>If your refund request is approved, the refund amount will be credited to your Dilana Tandoor Putrajaya user account as credit points.</li>
          <li>You have two options for utilizing the refunded credit points: <b>a.</b> You may request a transfer of the credit points to your bank account. Please note that bank transfer requests may take a reasonable processing time, and any applicable transaction fees will be borne by the customer. <b>b.</b> You can use the credited amount as a discount while placing your next order through our website.</li>
          
        </ul>
      </ion-label>
    </ion-item>

    <ion-item lines="none" class="animate__animated animate__slideInLeft" style="margin-top: -20px;">
      <ion-label color="success" class="heading">Non-Refundable Items:</ion-label>
    </ion-item>

    <ion-item class="animate__animated animate__slideInLeft">
      <ion-label color="success" class="regular_content">
        <ul>
          <li>Certain items, such as promotional offers, discounted items, or customized orders, may be exempt from refunds. This will be clearly communicated at the time of purchase or in the item description.</li>
        </ul>
      </ion-label>
    </ion-item>

    <ion-item lines="none" class="animate__animated animate__slideInLeft" style="margin-top: -20px;">
      <ion-label color="success" class="heading">Disputed Charges:</ion-label>
    </ion-item>

    <ion-item class="animate__animated animate__slideInLeft">
      <ion-label color="success" class="regular_content">
        <ul>
          <li>If you believe you have been charged incorrectly or have any concerns regarding the charges, please contact our customer support team immediately. We will investigate the matter and resolve any genuine disputes promptly.</li>
          

        </ul>
      </ion-label>
    </ion-item>

    <ion-item lines="none" class="animate__animated animate__slideInLeft" style="margin-top: -20px;">
      <ion-label color="success" class="heading">Changes to Orders:</ion-label>
    </ion-item>

    <ion-item class="animate__animated animate__slideInLeft">
      <ion-label color="success" class="regular_content">
        <ul>
          <li>Once an order has been placed, modifications or cancellations can only be made within 24 hours of placing the order, provided the status is still "Placed." After this timeframe or if the status has changed, no changes or cancellations will be allowed.</li>
        </ul>
      </ion-label>
    </ion-item>

    <ion-item lines="none" class="animate__animated animate__slideInLeft" style="margin-top: -20px;">
      <ion-label color="success" class="heading">Our Rights:</ion-label>
    </ion-item>

    <ion-item class="animate__animated animate__slideInLeft">
      <ion-label color="success" class="regular_content">
        <ul>
          <li>Dilana Tandoor Putrajaya reserves the right to refuse a refund or make adjustments to the refund policy at our sole discretion. We may update or modify this policy from time to time, and any changes will be effective immediately upon posting the revised policy on our website.</li>
        </ul>
      </ion-label>
    </ion-item>

  </ion-list>
 
</ion-content>
