<ion-content mode="md">
  <ion-grid>
    <ion-row>
      <ion-col size="1" class="animation">
         
      </ion-col>
      <ion-col size="10"></ion-col>
      <ion-col size="1" class="animation1 ion-text-right"></ion-col>
    </ion-row>
    <ion-row style="margin-top: -80px;">
      <ion-col size="1">
        <!-- <ion-img src="../../../assets/images/elipise.svg"/> -->
      </ion-col>
      <ion-col size="10" class="ion-text-center signupmainclass animate__animated animate__zoomIn animate__faster">
        <!-- <ion-label color="success ">Sign Up</ion-label> -->
        <ion-img src="assets/images/mylogo.png" class="logo"></ion-img>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row >
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="animate__animated animate__fadeInLeftBig">
        <form>
        <div class="inputfield" id="namefield">
          <ion-label class="iput-label">Full Name</ion-label>
          <ion-input type="text" placeholder="Your Full Name" class="email" fill="outline"/>
        </div>

        <div class="inputfield" id="emailfield">
          <ion-label class="iput-label">E-mail</ion-label>
          <ion-input type="email" placeholder="Your email or phone" class="email" fill="outline"/>
        </div>

        <div class="inputfield" id="passwordfield">
          <ion-label class="iput-label">Phone Number</ion-label>
          <ion-input type="tel" placeholder="+60  123456789" class="email" fill="outline">
            <ion-img src="assets/images/klflag.png" style="width: 20px;" slot="start"></ion-img>
         </ion-input>
        </div>

        <div class="signupbutton">
          <ion-button color="primary" class="signup_btn">Sign up</ion-button>
        </div>
</form>
        <div class="afterbtntext">
          <ion-label color="tertiary">Already have an account?</ion-label><ion-label color="primary"
            (click)="gotologin()">Login</ion-label>
        </div>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>

  <div class="container">
    <div class="buttons animate__animated animate__fadeInUpBig">

      <ion-grid>
        <ion-row class="ion-align-items-end">
          <ion-col size="1"></ion-col>
          <ion-col size="10">
            <p class="signin">sign up with</p>
          </ion-col>
          <ion-col size="1"></ion-col>

        </ion-row>
        <!-- <ion-row style="margin-top:-15px;">
          <ion-col size="1"></ion-col>
          <ion-col size="5">
            <ion-button color="light"  size="small"  class="social_btn">
              <ion-icon slot="start" src="assets/icon/whatsapp.svg" />
              Whatsapp
            </ion-button>
          </ion-col>
          <ion-col size="5">
            <ion-button color="light"  size="small" class="social_btn">
              <ion-icon slot="start" src="assets/icon/google.svg" />
              Google
            </ion-button>
            <ion-col size="1"></ion-col>
          </ion-col>
        </ion-row> -->
        <ion-row style="margin-top:-15px;">
          <ion-col size="1"></ion-col>
          <ion-col size="10">
            <ion-button color="light"  size="small" class="social_btn">
              <ion-icon slot="start" src="assets/icon/google.svg" />
             Sign in With Google
            </ion-button>
            <ion-col size="1"></ion-col>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>