.RecentSearches{
    font-size: 16px;
    font-family: sf_pro_display_bold;
    position: relative;
    left: 10px;
}

.searcheditems{
    margin-top: 10px;
}

ion-chip{
    background-image: linear-gradient(white, #F8F8F8);
    color: #67666D;
    font-size: 12px;
    font-weight: bold;
    font-family: sf_pro_display_bold;
}