<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <ion-title color="success">Terms & Conditions</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" color="success" icon="assets/icon/arrow-left.svg"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
   
      <ion-icon src="assets/icon/arrow-left.svg" style="opacity: 0;"/>
   
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="logo animate__animated animate__zoomIn">
        <ion-img src="assets/images/logo.svg" class="ion-text-center"/>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list lines="none" class="animate__animated animate__slideInLeft">
    <ion-item lines="none">
      <ion-label color="success" class="regular_content">Welcome to Dilana Tandoor Putrajaya! We are delighted to have you as our valued customer. Before you proceed with using our services, please take a moment to review and understand our terms and conditions. These terms govern your use of our website, mobile application, and dining services. By accessing or using any part of our services, you agree to be bound by these terms. If you do not agree with any of the terms stated below, please refrain from using our services.</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label color="success" class="heading">Reservation Policy:</ion-label>
    </ion-item>

    <ion-item class="regularitem">
      <ion-label color="success" class="regular_content">
        <ul>
          <li>We encourage you to make a reservation in advance to secure your preferred dining time. Walk-ins are subject to availability.</li>
          <li> Reservations can be made through our website, mobile application, or by contacting our reservation team.</li>
          <li>We kindly request that you arrive on time for your reservation. If you are running late, please inform us in advance to ensure your table is held for a reasonable amount of time.</li>
        </ul>
      </ion-label>
    </ion-item>

    <ion-item lines="none" style="margin-top:-5px">
      <ion-label color="success" class="heading">Cancellation and No-show Policy:</ion-label>
    </ion-item>

    <ion-item class="regularitem">
      <ion-label color="success" class="regular_content">
        <ul>
          <li>If you need to cancel or modify your reservation, please do so at least 24 hours before the reserved time. Failure to do so may result in cancellation fees or loss of pre-paid deposits, depending on the circumstances.</li>
          <li>In the case of a no-show, where no cancellation was made and you fail to appear for your reservation, we reserve the right to charge a fee or revoke your future reservation privileges.</li>
          
        </ul>
      </ion-label>
    </ion-item>

    <ion-item lines="none" style="margin-top:-5px">
      <ion-label color="success" class="heading">Menu and Pricing:</ion-label>
    </ion-item>

    <ion-item class="regularitem">
      <ion-label color="success" class="regular_content">
        <ul>
          <li>Our menu offerings and prices are subject to change without prior notice. We strive to keep our menu up-to-date, but some variations may occur due to seasonal availability or other factors beyond our control.</li>
          <li>All prices are stated in the local currency and are inclusive of applicable taxes and charges.</li>
        </ul>
      </ion-label>
    </ion-item>

    <ion-item lines="none" style="margin-top:-5px">
      <ion-label color="success" class="heading">Food Allergies and Dietary Restrictions:</ion-label>
    </ion-item>

    <ion-item class="regularitem">
      <ion-label color="success" class="regular_content">
        <ul>
          <li>We endeavor to accommodate specific dietary requirements to the best of our abilities. However, we cannot guarantee that our food will be free from allergens or cross-contamination.</li>
          <li>Guests with severe food allergies or dietary restrictions are encouraged to inform our staff before placing an order. We will do our best to provide suitable alternatives or guidance on menu selections.</li>
          

        </ul>
      </ion-label>
    </ion-item>

    <ion-item lines="none" style="margin-top:-5px">
      <ion-label color="success" class="heading">Payments:</ion-label>
    </ion-item>

    <ion-item class="regularitem">
      <ion-label color="success" class="regular_content">
        <ul>
          <li>We accept various forms of payment, including cash and major credit cards. Payment options may vary, and we reserve the right to refuse certain forms of payment.</li>
          <li>For online or mobile application orders, payment must be made in advance using the provided payment gateway.</li>
        </ul>
      </ion-label>
    </ion-item>

    <ion-item lines="none" style="margin-top:-5px">
      <ion-label color="success" class="heading">Privacy and Data Protection:</ion-label>
    </ion-item>

    <ion-item class="regularitem">
      <ion-label color="success" class="regular_content">
        <ul>
          <li>We value your privacy and handle your personal information in accordance with applicable data protection laws. Please refer to our Privacy Policy for more details on how we collect, use, and protect your information.</li>
        </ul>
      </ion-label>
    </ion-item>

    <ion-item lines="none" class="regularitem" style="margin-top:-5px">
      <ion-label color="success" class="heading">Intellectual Property:</ion-label>
    </ion-item>

    <ion-item class="regularitem">
      <ion-label color="success" class="regular_content">
        <ul>
          <li>All content and materials displayed on our website and mobile application, including but not limited to logos, images, text, and designs, are the property of Dilana Tandoor Putrajaya and protected by copyright and other intellectual property laws. Any unauthorized use or reproduction is strictly prohibited.</li>
        </ul>
      </ion-label>
    </ion-item>

    <ion-item lines="none" class="regularitem" style="margin-top:-5px">
      <ion-label color="success" class="heading">Limitation of Liability:</ion-label>
    </ion-item>

    <ion-item class="regularitem">
      <ion-label color="success" class="regular_content">
        <ul>
          <li>Dilana Tandoor Putrajaya shall not be held liable for any direct, indirect, incidental, consequential, or punitive damages arising from the use of our services or any actions or omissions related to your dining experience.</li>
        </ul>
      </ion-label>
    </ion-item>
    <ion-item lines="none" style="margin-top:-5px">
      <ion-label color="success" class="heading">Governing Law and Jurisdiction:</ion-label>
    </ion-item>

    <ion-item class="regularitem">
      <ion-label color="success" class="regular_content">
        <ul>
          <li>These terms and conditions are governed by the laws of Malaysia. Any disputes arising out of or in connection with these terms shall be subject to the exclusive jurisdiction of the courts of Malaysia.</li>
        </ul>
      </ion-label>
    </ion-item>

    <ion-item lines="none" class="regularitem">
      <ion-label color="success" class="regular_content">
        Thank you for taking the time to read our terms and conditions. We hope you have an enjoyable dining experience at Dilana Tandoor Putrajaya!
      </ion-label>
    </ion-item>
    
  </ion-list>

 
</ion-content>
