ion-toolbar ion-title{
    font-size: 30px;
    font-family: sf_pro_display_bold;
    text-align: center;
}
.order_id{
    font-size: 24px;
    font-family: sf_pro_display_regular;
}
.date{
    // margin-left: 70px;
    font-size: 13px;
    font-family: sf_pro_display_regular;
    position: relative;
    right: -24px;
    top: 8px;
}

.price{
    font-size: 13px;
    font-family: sf_pro_display_bold;
    position: relative;
    right: 22px;
    top: 8px;

}
.stars ion-icon{
    font-size: 20px;
    margin-right: 3px;
    margin-top: 25px;
}
.input-label{
    display: block;
    color:var(--ion-color-success);
    font-family: sf_pro_display_bold;
    font-size: 14px;
}
.customclass{
    width: 100%;
    height: 50px;
    border: none;
    background: #F0F5FA;
    border-radius: 10px;
    padding: 20px;
    color:var(--ion-color-success);
    margin-top: -8px;
    font-family: sf_pro_display_regular;
    font-size: 13px;
}
input:hover{
    border: 1px solid #FC7A1E !important;
}
.message{
    height: 132px;
    width: 100%;
    padding: 20px;
    border: none;
    background: #F0F5FA;
    border-radius: 10px;
    padding: 20px;
    margin-top: -8px;
    color:var(--ion-color-success);
    font-family: sf_pro_display_regular;
}

::placeholder{
    font-size: 13px;
    color: #6A6D81;
    font-family: sf_pro_display_regular;
}

.submitbtn{
    width: 112px;
    height: 44px;
    font-family: sf_pro_display_regular;
    font-size: 13px;
    text-transform: none;
    --border-radius: 10px;
}