<ion-content mode="md">
  <ion-grid>
    <ion-row>
      <ion-col size="1" class="animation">
         
      </ion-col>
      <ion-col size="10"></ion-col>
      <ion-col size="1" class="animation1 ion-text-right"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="2" style="text-align: left;
      margin-top: -7.84vh;
      font-size: 3.26vh">
        <ion-icon src="../../../assets/icon/arrow-left.svg" (click)="gotoverification()"/>
      </ion-col>
      <ion-col size="7">
       
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
    <ion-row style="margin-top: -80px;">
      <ion-col size="1">
        <!-- <ion-img src="../../../assets/images/elipise.svg"/> -->
      </ion-col>
      <ion-col size="10" class="ion-text-center signupmainclass animate__animated animate__zoomIn animate__faster">
        <ion-label color="success ">Create Password</ion-label>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row >
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="animate__animated animate__fadeInLeftBig">
      <form [formGroup]="createresetpasswordform">
        <div class="inputfield" id="passwordfield">
          <ion-label class="iput-label">Password</ion-label>
          <ion-input type="password" formControlName="resetpass1" placeholder="Password" class="email" fill="outline">
            <!-- <ion-button fill="clear"  slot="end" aria-label="Show/hide">
              <ion-icon slot="icon-only" src="../../../assets/icon/eye.svg"></ion-icon>
            </ion-button> -->
            <ion-input-password-toggle slot="end" color="darkgray"></ion-input-password-toggle>

          </ion-input>
          <ion-item *ngIf="createresetpasswordform && !createresetpasswordform.controls['resetpass1'].valid  && (createresetpasswordform.controls['resetpass1'].dirty || submitAttempt7)" padding-right lines="none">
            <ion-label class="errorhere" text-wrap>Please enter valid password!</ion-label>
         </ion-item>
        </div>

        <div class="inputfield" id="passwordfield">
          <ion-label class="iput-label">Confirm Password</ion-label>
          <ion-input type="password" formControlName="resetpass2" placeholder="Confirm Password" class="email" fill="outline">
            <!-- <ion-button fill="clear"  slot="end" aria-label="Show/hide">
              <ion-icon slot="icon-only" src="../../../assets/icon/eye.svg"></ion-icon>
            </ion-button> -->
            <ion-input-password-toggle slot="end" color="darkgray"></ion-input-password-toggle>

          </ion-input>
          <ion-item *ngIf="createresetpasswordform && !createresetpasswordform.controls['resetpass2'].valid  && (createresetpasswordform.controls['resetpass2'].dirty || submitAttempt7)" padding-right lines="none">
            <ion-label class="errorhere" text-wrap>Please enter valid password!</ion-label>
         </ion-item>
        </div>
      </form>
        <div class="signupbutton">
          <ion-button color="primary" class="signup_btn" (click)="finishregpass()">SUBMIT</ion-button>
        </div>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>