<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-buttons slot="start" (click)="openMenu()" class="ion-text-left">
        <img src="assets/icon/sidemenu.svg">
    </ion-buttons>
    <div class="logo">
      <ion-img src="assets/images/logo.svg" class="logoimg" alt="dilana logo" />
    </div>
  
    <ion-buttons slot="end" class="ion-text-right" (click)="gotocart()">
      <ion-icon name="cart" style="    font-size: 30px;
      position: relative;
      right: 8px;
      top: -4px;"></ion-icon>
       <ion-badge color="primary" style="    position: absolute;
       right: 4px;
       top: -10px;
       width: 20px;" *ngIf="badgebanner!=='0'">{{badgebanner}}</ion-badge>
  </ion-buttons>
  
  </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" mode="md" scrollEvents="true"  (ionScroll)="onScroll($event)">

    <ion-loading trigger="open-loading" message="Loading..." duration="3000"></ion-loading>

    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-text-left animate__animated animate__slideInLeft">
          <ion-label color="success" class="maintitle">What Whould you like <br> to order</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-searchbar (click)="gotosearch()" placeholder="Find for food or restaurant..." class="searchbar animate__animated animate__zoomIn" fill="outline" show-clear-button="focus"></ion-searchbar>

    <div class="servicezone ion-header" style="position: sticky; top: 0; background-color: #fff; z-index: 100;">

      <ion-list class="dropdownlist">
        <ion-item class="dropdownitem">
           
          <ion-select
        label="Select category"
        class="likeditems animate__animated animate__zoomIn"
        interface="action-sheet"
        [(ngModel)]="selectedCategory"
        style="margin-top: 10px !important"
        (ionChange)="scrollToCategory($event)">
            <ion-badge>6</ion-badge>
            <ion-select-option *ngFor="let category of allcats" [value]="category?.name">
              {{ category.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        </ion-list>
    </div>
    
  
    <ion-list lines="none" class="dropdownlist">
      <ion-item lines="none" class="dropdownitem">
         
        <ion-select label="Most Liked Items" class="likeditems animate__animated animate__zoomIn" interface="action-sheet" style="margin-top: 10px !important;">
          <ion-badge>6</ion-badge>
          <ion-select-option value="apple">Apple</ion-select-option>
          <ion-select-option value="banana">Banana</ion-select-option>
          <ion-select-option value="orange">Orange</ion-select-option>
        </ion-select>
      </ion-item>
      </ion-list>
        
  
  
        <ion-grid >
          
          <ion-row>

            <ion-col size="12" size-sm="9" size-md="6" size-lg="4" size-xl="3" *ngFor="let result of mostpopular">
              <ion-list lines="none" id="open-loading" class="product_list ion-no-padding animate__animated animate__slideInLeft">
                <ion-item lines="none">
                  <!-- ion-avatar (if not used, you may consider removing it) -->
                  <ion-avatar slot="start">
                    <ion-img [src]="result.image_url" />
                  </ion-avatar>
                  <div class="item-info">
                    <ion-row>
                      <ion-col size="12">
                        <p class="item_name">{{result.name}}</p>
                      </ion-col>
                    </ion-row>
                    
                    <ion-row class="delivery_info">
                      <ion-col size="6">
                        <p class="freedelivery"><ion-icon src="assets/icon/freedelivery.svg" alt="Icon"></ion-icon> <span class="freedelspan">Free delivery</span></p>
                      </ion-col>
                      <ion-col size="6">
                        <p class="time"><ion-icon src="assets/icon/clock.svg"></ion-icon><span>10-15 mins</span></p>
                      </ion-col>
                    </ion-row>
                    
                    <ion-row class="pricepluscounter">
                      <ion-col size="6" class="pricecol">
                        <p class="price">${{result.price}}</p>
                      </ion-col>
                      <ion-col size="6" class="countercol">
                        <ion-row class="counter-row">
                          <ion-icon tappable name="remove" color="success" class="minusicon" (click)="minusitem(result)"></ion-icon>
                          <span class="counter">{{result.cartItems || 0}}</span>
                          <ion-icon tappable name="add" class="addicon" (click)="plusitem(result)"></ion-icon>
                        </ion-row>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-item>
              </ion-list>
            </ion-col>
           
          </ion-row>

        
         
        </ion-grid>

        <div #productList class="product-list">
          <div *ngFor="let cat of allcats; let i = index" #categorySection>
            <ion-list lines="none" style="margin-top: -10px;">
              <ion-item lines="none">
                <ion-label class="Chef animate__animated animate__zoomIn">{{ cat.name }}</ion-label>
              </ion-item>
            </ion-list>
            <ion-grid style="margin-top: -20px !important;">
              <ion-row *ngIf="alldashprods !== ''">
                <ng-container *ngFor="let result of alldashprods">
                  <ng-container *ngIf="result.category_name == cat.name">
                    <ion-col size="12" size-sm="9" size-md="6" size-lg="4" size-xl="3">
                      <ion-list
                        lines="none"
                        id="open-loading"
                        class="product_list ion-no-padding animate__animated animate__slideInLeft"
                      >
                        <ion-item lines="none">
                          <ion-avatar slot="start">
                            <ion-img [src]="result.image_url" />
                          </ion-avatar>
                          <div class="item-info">
                            <ion-row>
                              <ion-col size="12">
                                <p class="item_name">{{ result.name }}</p>
                              </ion-col>
                            </ion-row>
                            <ion-row class="delivery_info">
                              <ion-col size="6">
                                <p class="freedelivery">
                                  <ion-icon src="assets/icon/freedelivery.svg" alt="Icon"></ion-icon>
                                  <span class="freedelspan">Free delivery</span>
                                </p>
                              </ion-col>
                              <ion-col size="6">
                                <p class="time">
                                  <ion-icon src="assets/icon/clock.svg"></ion-icon><span>10-15 mins</span>
                                </p>
                              </ion-col>
                            </ion-row>
                            <ion-row class="pricepluscounter">
                              <ion-col size="6" class="pricecol">
                                <p class="price">${{ result.price }}</p>
                              </ion-col>
                              <ion-col size="6" class="countercol">
                                <ion-row class="counter-row">
                                  <ion-icon
                                    tappable
                                    name="remove"
                                    color="success"
                                    class="minusicon"
                                    (click)="minusitem(result)"
                                  ></ion-icon>
                                  <span class="counter">{{ result.cartItems || 0 }}</span>
                                  <ion-icon
                                    tappable
                                    name="add"
                                    class="addicon"
                                    (click)="plusitem(result)"
                                  ></ion-icon>
                                </ion-row>
                              </ion-col>
                            </ion-row>
                          </div>
                        </ion-item>
                      </ion-list>
                    </ion-col>
                  </ng-container>
                </ng-container>
              </ion-row>
            </ion-grid>
          </div>
        </div>
    
    
  
  </ion-content>
  
<ion-footer class="productdetailsfooter animate__animated animate__fadeInUpBig">
    <ion-toolbar>
      <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="home" (click)="gotohome()" class="footericons">
            <ion-img src="assets/icon/homeorange.svg"></ion-img>
           <ion-label class="menuname">Home</ion-label> 
          </ion-tab-button>
          <ion-tab-button tab="credits" (click)="gotocredit()" class="footericons">
            <ion-img src="assets/icon/card-tick.svg"></ion-img>
            <ion-label class="menuname">Credits</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="Cart" (click)="gotocart()" class="footericons">
            <ion-img src="assets/icon/shopping-cart.svg"></ion-img>
            <ion-label class="menuname">Cart</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="Orders" (click)="gotoorders()" class="footericons">
            <ion-img src="assets/icon/order.svg"></ion-img>
            <ion-label class="menuname">Orders</ion-label> 
          </ion-tab-button>
          <ion-tab-button tab="Profile" (click)="gotoprofile()">
            <ion-img src="assets/icon/profile.svg"></ion-img>
            <ion-label class="menuname">Profile</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-toolbar>
  </ion-footer>