
  <!-- <ion-header >
  <ion-toolbar class="headerbackground">
    <div >
      <ion-buttons slot="start">
        <ion-back-button default-href="#" color="light"></ion-back-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header> -->

<ion-toolbar>
  <div class="headerbackground animate__animated animate__fadeInDown">
    <ion-buttons slot="start">
      <ion-back-button default-href="#" color="light" icon="assets/icon/arrow_leftwhite.svg"></ion-back-button>
    </ion-buttons>
  </div>
</ion-toolbar>



<ion-content [fullscreen]="true" class="ion-padding">

  <ion-loading trigger="open-loading" message="Loading..." duration="3000"></ion-loading>

  <ion-grid style="margin-top: 20px;">
    <ion-row class="itemdetailsrow">
      <ion-col size="6">
         <ion-label color="success" class="itemname animate__animated animate__slideInLeft">Beef Samosa</ion-label>
      </ion-col>
      <ion-col size="6" style="text-align: right;">
        <ion-label color="success" class="itemprice animate__animated animate__slideInRight">$12</ion-label>
     </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <p class="itemdesc animate__animated animate__slideInLeft">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor ac leo lorem nisl. Viverra vulputate sodales quis et dui, lacus. Iaculis eu egestas egestas vel... <a href="#">Read More</a>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item-divider></ion-item-divider>

  <ion-segment [scrollable]="true" value="default" [(ngModel)]="selectedSegment" class="animate__animated animate__zoomIn">
    <ion-segment-button value="Related Products">
      <ion-label>Related Products</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Reviews">
      <ion-label>Reviews</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div  *ngIf="selectedSegment === 'Related Products'">
    <ion-grid>
      <ion-row style="margin-top: 5px;">
        <ion-col size="12" class="animate__animated animate__slideInLeft">
          <ion-label color="success" style="font-size: 16px;font-weight: bold;font-family: sf_pro_display_semibold;">Frequently Bought Together</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    

    <ion-grid>
      <ion-row>
         <ion-col size="12" size-sm="6" size-md="4" size-lg="3" size-xl="3">
          <ion-list lines="none" class="product_list ion-no-padding animate__animated animate__slideInLeft">
            <ion-item lines="none">
              <ion-avatar slot="start" class="product_img">
                <ion-img src="assets/images/Beefsamosa.png"></ion-img>
              </ion-avatar>
              <div class="item-info">
                <ion-row>
                  <ion-col size="12">
                    <p class="item_name">Chicken Samosa</p>
                  </ion-col>
                </ion-row>
                <ion-row class="pricepluscounter">
                  <ion-col size="6" class="pricecol">
                    <p class="price">+$12.00</p>
                  </ion-col>
                  <ion-col size="6" class="countercol">
                    <div class="counter-row">
                      <ion-icon name="remove" color="success" class="minusicon"></ion-icon>
                      <span class="counter">0</span>
                      <ion-icon name="add" class="addicon"></ion-icon>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col size="12" size-sm="6" size-md="4" size-lg="3" size-xl="3">
          <ion-list lines="none" class="product_list ion-no-padding animate__animated animate__slideInLeft">
            <ion-item lines="none">
              <ion-avatar slot="start" class="product_img">
                <ion-img src="assets/images/Beefsamosa.png"></ion-img>
              </ion-avatar>
              <div class="item-info">
                <ion-row>
                  <ion-col size="12">
                    <p class="item_name">Chicken Samosa</p>
                  </ion-col>
                </ion-row>
                <ion-row class="pricepluscounter">
                  <ion-col size="6" class="pricecol">
                    <p class="price">+$12.00</p>
                  </ion-col>
                  <ion-col size="6" class="countercol">
                    <div class="counter-row">
                      <ion-icon name="remove" color="success" class="minusicon"></ion-icon>
                      <span class="counter">0</span>
                      <ion-icon name="add" class="addicon"></ion-icon>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col size="12" size-sm="6" size-md="4" size-lg="3" size-xl="3">
          <ion-list lines="none" class="product_list ion-no-padding animate__animated animate__slideInLeft">
            <ion-item lines="none">
              <ion-avatar slot="start" class="product_img">
                <ion-img src="assets/images/Beefsamosa.png"></ion-img>
              </ion-avatar>
              <div class="item-info">
                <ion-row>
                  <ion-col size="12">
                    <p class="item_name">Chicken Samosa</p>
                  </ion-col>
                </ion-row>
                <ion-row class="pricepluscounter">
                  <ion-col size="6" class="pricecol">
                    <p class="price">+$12.00</p>
                  </ion-col>
                  <ion-col size="6" class="countercol">
                    <div class="counter-row">
                      <ion-icon name="remove" color="success" class="minusicon"></ion-icon>
                      <span class="counter">0</span>
                      <ion-icon name="add" class="addicon"></ion-icon>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col size="12" size-sm="6" size-md="4" size-lg="3" size-xl="3">
          <ion-list lines="none" class="product_list ion-no-padding animate__animated animate__slideInLeft">
            <ion-item lines="none">
              <ion-avatar slot="start" class="product_img">
                <ion-img src="assets/images/Beefsamosa.png"></ion-img>
              </ion-avatar>
              <div class="item-info">
                <ion-row>
                  <ion-col size="12">
                    <p class="item_name">Chicken Samosa</p>
                  </ion-col>
                </ion-row>
                <ion-row class="pricepluscounter">
                  <ion-col size="6" class="pricecol">
                    <p class="price">+$12.00</p>
                  </ion-col>
                  <ion-col size="6" class="countercol">
                    <div class="counter-row">
                      <ion-icon name="remove" color="success" class="minusicon"></ion-icon>
                      <span class="counter">0</span>
                      <ion-icon name="add" class="addicon"></ion-icon>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
       </ion-row>
    </ion-grid>

   
  </div>

  <div  *ngIf="selectedSegment === 'Reviews'">
   <ion-grid>
    <ion-row>
      <ion-col  class="ion-text-left animate__animated animate__slideInLeft">
        <ion-label class="review_head">Reviews</ion-label>
      </ion-col>
      <ion-col size="6" class="ion-text-right animate__animated animate__slideInRight">
        <ion-label class="numbers">5 <ion-icon name="star" color="primary"></ion-icon>/20</ion-label>
        &nbsp;&nbsp;<ion-label color="primary" class="Write">Write a Review</ion-label>
      </ion-col>
    </ion-row>
   </ion-grid>

   <ion-list lines="none" class="animate__animated animate__slideInLeft">
    <ion-item>
      <ion-avatar slot="start" class="profile_img">
        <ion-img src="../../../assets/icon/circle.png" />
      </ion-avatar>
      <div class="reviews" slot="end"> 
        <ion-label class="date">20/12/2020</ion-label>
        <ion-label class="comment_heading">Great Food and Service</ion-label>
        <ion-label class="stars">
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-icon name="star" color="primary"></ion-icon>
        </ion-label>
        <ion-label class="comment_desc">This Food so tasty & delicious. Breakfast so fast Delivered in my place. Chef is very friendly. I’m really like chef for Home Food Order. Thanks. </ion-label>
      </div>
    </ion-item>
   </ion-list>

   <!-- <ng-template #noReviewsTemplate >
    <div class="pro_no_reviews" style="text-align: center;">
      <ion-img src='../../../assets/images/nohistory.png' style="width: 250px;
    margin: 30px auto;"></ion-img>
    <ion-label class="no_reviews ion-text-center">No reviews found</ion-label>
    </div>
  </ng-template> -->
  </div>
</ion-content>

<ion-footer class="footer animate__animated animate__fadeInUpBig" >
<ion-toolbar class="toolbar">
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <!-- <ion-grid>
          <ion-row style="margin-top: 10px;">
            <ion-col size="3" class="ion-text-right">
              <ion-icon name="remove" color="success" style="font-size: 25px;border-radius: 40px;border: 1px solid #FC7A1E;"></ion-icon>
            </ion-col>
            <ion-col size="6" class="ion-text-center">
              <ion-label style="margin-top: 0px;font-size: 20px;margin-right: -18px;" mclass="ion-text-center">2</ion-label>
            </ion-col>
            <ion-col size="3" class="ion-text-left">
              <ion-icon name="add" style="font-size: 25px; background: #FC7A1E;color: #fff;border-radius: 40px;border: 1px solid #FC7A1E;"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid> -->
        <ion-row>
          <ion-col size="12" class="countercol1">
            <div class="counter_footer_row">
              <ion-icon name="remove" color="success" class="minusicon" style="font-size: 26px !important;" (click)="minusitem()"></ion-icon>
              <span style="margin: 5px auto;cursor: pointer;font-size: 15px;font-family: sf_pro_display_regular;">{{cartItems}}</span>
              <ion-icon name="add" class="addicon" style="font-size: 26px !important;" (click)="plusitem()"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
       
      </ion-col>
      <ion-col size="8">
        <!-- <button class="add-to-cart-btn" (click)="gotocart()">Add to Cart</button> -->

        <ion-button class="addtocart" (click)="gotoaddToCart()" id="open-loading">Add to Cart</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>
</ion-footer>